#main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  width: auto;
  padding: 3rem;
  flex-wrap: wrap;
}

  div :not(#main){
    display: flex;
    width: 8rem;
    height: 8rem;
    background-color: black;
    margin: 4rem;
  }

  /* transition works by telling it the property name you want to transition, here i used background color that will take 1s to change */
  /* transition - property-name duration function delay */
  div#a{
    transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    background-color: red; 
  }

    div#a:hover{
      background-color: green; 
    }

  /* to use transition on more than one or all props use keyword all */
  div#b{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    background-color: black; 
  }

    div#b:hover{
      background-color: red;
      width: 6rem;
      height: 6rem;
    }

    /* example for transition function */
  div#c{
    -webkit-transition-timing-function: steps(4, start);
    -moz-transition-timing-function: steps(4, start);
    -o-transition-timing-function: steps(4, start);
    transition-timing-function: steps(4, start);

    -webkit-transition-duration: 3s;
    -moz-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;

    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
  }

    div#c:hover{
      background-color: lightblue;
      cursor: pointer;
    }

  /* to use transition on more than one or all props use keyword all */
  div#d{
    transition: transform 1s ease;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    background-color: lightblue; 
  }

    div#d:hover{
      transform: scale(5);
    }

  /* Skew */
  div#e{
    transition: transform 1s ease;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    background-color: lightblue; 
  }

    div#e:hover{
      transform: skewY(25deg);
    }

  /* Rotate */
  div#f{
    transition: transform 1s ease;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    background-color: lightsalmon; 
  }

    div#f:hover{
      transform: rotate(360deg);
    }

  /* translate */
  div#g{
    transition: transform 1s ease;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    background-color: lightblue; 
  }

    div#g:hover{
      transform: translate(40px, 40px);
    }

  /* translate */
  div#h{
    transition: transform 1s ease;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    background-color: black; 
  }

    div#h:hover{
      transform: translate(40px, 40px) rotate(360deg);
    }

  /* translate */
  div#i{
    transition: transform 1s ease;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    background-color: lightblue; 
  }

    div#i:hover{
      transform: translate3d(40px, 40px, 40px);
    }

  /* transform origin helps you to decide from where transform should start */
  div#j{
    transition: transform 1s ease;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    background-color: green; 
  }

    div#j:hover{
      transform: rotate(360deg);
      transform-origin: top left;
    }

  /* Animation */
  div#k{
    animation: pulse 5s infinite;
  }

  /* Animation */
  div#l{
    animation: smooth 4s infinite;
    animation-timing-function: ease;
  }

    /* Animation */
  div#m{
    animation: smooth 4s ease infinite, move 4s linear infinite;
  }

  @keyframes pulse {
    0%, 20% {
      background-color: rgb(106, 168, 230);
    }
    20%, 40% {
      background-color: rgb(45, 148, 196);
    }
    40%, 60% {
      background-color: rgb(28, 153, 101);
    }
    60%, 80% {
      background-color: rgb(148, 177, 19);
    }
    80%, 100% {
      background-color: rgb(236, 141, 62);
    }
  }

  @keyframes smooth {
    0%, 33% {
      transform: scale(1);
      border-radius: 40%;
      background-color: rgb(106, 168, 230);
    }
    33%, 66% {
      transform: scale(2);
      border-radius: 80%;
      background-color: rgb(192, 67, 36);
    }
    66%, 100% {
      transform: scale(1);
      border-radius: 40%;
      background-color: rgb(28, 153, 101);
    }
  }

  @keyframes move {
    0% {
      transform: translate(0px, 0px);
      background-color: rgb(106, 168, 230);
    }
    50% {
      transform: translate(40px, 40px);
      background-color: rgb(192, 67, 36);
    }
    50% {
      transform: translate(80px, 80px);
      background-color: rgb(192, 67, 36);
    }
  }

